
<calcite-shell>
    <calcite-shell-panel slot="primary-panel" position="start">
        Leading panel! (on the left side, since this is a LTR app)
        <calcite-button
            icon-start="addInNew"
        >

        </calcite-button>
    </calcite-shell-panel>
    <calcite-shell-panel slot="contextual-panel" position="end"> Trailing panel! (right side) </calcite-shell-panel>
    <div slot="shell-header">
        <header>
            <h2>Shell Header: My App</h2>
        </header>
    </div>
    <div id="viewDiv"></div>
    
  </calcite-shell>